<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serveIt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login_activities.home" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".owner_activities.store_settings" />
        <activity android:name=".common_activities.change_password" />
        <activity android:name=".owner_activities.help_owner" />
        <activity android:name=".employee_activities.help_employee" />
        <activity android:name=".employee_activities.search_store" />
        <activity android:name=".common_activities.contact_us" />
        <activity
            android:name=".employee_activities.search_food"
            android:parentActivityName=".employee_activities.MAIN_EMPLOYEE_ACTIVITY" />
        <activity android:name=".owner_activities.MAIN_OWNER_ACTIVITY" />
        <activity android:name=".employee_activities.MAIN_EMPLOYEE_ACTIVITY" />
        <activity
            android:name=".login_activities.login"
            android:label="Login" />
        <activity
            android:name=".login_activities.sign_up"
            android:label="Sign Up" />
        <activity
            android:name=".owner_activities.menu_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".employee_activities.item_notes" />
        <activity android:name=".owner_activities.manage_staff" />
        <activity android:name=".owner_activities.build_layout" />
        <activity android:name=".login_activities.splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".employee_activities.store_layout"
            android:label="Layout" />
        <activity
            android:name=".employee_activities.new_order"
            android:label="New Order" />
        <activity
            android:name=".employee_activities.active_order"
            android:label="Active Orders" />
        <activity
            android:name=".employee_activities.settings"
            android:label="Settings" />
    </application>

</manifest>