<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serveIt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".employee_activities.item_notes"></activity>
        <activity android:name=".owner_activities.menu" />
        <activity android:name=".owner_activities.stats" />
        <activity android:name=".owner_activities.manage_staff" />
        <activity android:name=".owner_activities.build_layout" />
        <activity android:name=".login_activities.home_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".employee_activities.store_layout"
            android:label="Layout" />
        <activity
            android:name=".employee_activities.new_order"
            android:label="New Order" />
        <activity
            android:name=".employee_activities.active_order"
            android:label="Active Orders" />
        <activity
            android:name=".employee_activities.settings"
            android:label="Settings" />
    </application>

</manifest>